In [1]:
from random import sample
import random
from tqdm import tqdm
import my_utils as mu
import pandas as pd
import requests
tqdm.pandas()

- gold 구간
- 첫 df gameId, match, timeline

In [6]:
tier_lst = ['I','II','III','IV']

In [7]:
lst = []
p = random.randrange(1,10)
for t in tqdm(tier_lst):
    url='https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/GOLD/'+t+'?page='+str(p)+'&api_key='+mu.riot_api_key
    res=requests.get(url).json()
    lst = lst+sample(res, 5)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  3.15it/s]

In [10]:
len(lst)

20

In [11]:
summonerName_lst = list(map(lambda x: x['summonerName'], lst))
summonerName_lst

['망겜판독전문가',
 'SeoByeol',
 '영제이콥',
 '카멜은 맛나',
 '롤잘하는정모',
 'fio라',
 'Unup',
 '사우디알았디야',
 '방사능사',
 '변태떡장수',
 '말파이트개똥챔',
 'woodsgate',
 'fast deal',
 '까까은',
 '와샌쥬',
 '빠방쓰',
 '자기가훨씬이쁘지',
 'bccbcb',
 '롤 TIP 차단기능',
 '이렐5스택 조심해']

In [12]:
puuid_lst = []
for n in tqdm(summonerName_lst):
    try:
        puuid_lst.append(mu.get_puuid(n))
    except:
        continue

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:05<00:00,  3.97it/s]

In [13]:
len(puuid_lst)

20

In [22]:
matchId_lst = []
for p in tqdm(puuid_lst):
    matchId_lst = matchId_lst + mu.get_matchId(p, 2)

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:04<00:00,  4.13it/s]

In [23]:
len(matchId_lst)

40

In [16]:
import time

In [23]:
time.sleep(5)
print('test')

test

In [24]:
tmp = []
for m_id in tqdm(matchId_lst):
    tmp_lst = []
    tmp_lst.append(m_id)
    matches, timelines = mu.get_matches_timelines(m_id)
    tmp_lst.append(matches)
    tmp_lst.append(timelines)
    tmp.append(tmp_lst)

100%|██████████████████████████████████████████████████████████████████████████████████| 40/40 [00:30<00:00,  1.32it/s]

In [25]:
len(tmp)

40

In [26]:
df = pd.DataFrame(tmp, columns = ['gameId','match','timeline'])
df.head()

,gameId,match,timeline
0,KR_5423615051,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_5423662270,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_5556981373,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_5556846693,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_5552169197,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."

## 데이터 수집 함수화
- 1) gameId, match, timeline 으로 구성된 원시데이터 df 만드는 함수 (인자값으로 티어 ex.gold silver )
- 2) 원시데이터 df를 input 넣어서 output으로 match_df, timeline_df (인자값이 원시데이터 df)
- match_df ['gameId','gameDuration','gameVersion','summonerName','summonerLevel','participantId','championName',
  'champExperience','teamPosition','teamId','win','kills','deaths','assists',
  'totalDamageDealtToChampions','totalDamageTaken']
- timeline_df ['gameId','participantId','g5','g6' ~ 'g25']
- 3) db에 insert (인자값이 전처리를 진행한 match_df, timeline_df)
- match_pk, timeline_pk = gameId, participantId
- insert 하기전에 dataframe 중복제거
- match_df, timeline_df 컬럼값 임의로 추천해드린것 - 추후 프로젝트에 개인적으로 필요한 데이터가 있을시 추가해서 수집 가능

In [2]:
riot_api_key = 'RGAPI-3456a4da-0b9d-408f-a245-ab099eba3ab3'

In [3]:
def get_rawData(tier):
    tier_lst = ['I','II','III','IV']
    lst = []
    p = random.randrange(1,10)
    
    # riot api
    for t in tqdm(tier_lst):
        url='https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/'+tier+'/'+t+'?page='+str(p)+'&api_key='+riot_api_key
        res = requests.get(url).json()
        lst = lst+sample(res, 5)
    
    # summonerName
    print('get summonerName...')
    summonerName_lst = list(map(lambda x: x['summonerName'], lst))
    
    # puuid
    print('get puuid...')
    puuid_lst = []
    for n in tqdm(summonerName_lst):
        try:
            puuid_lst.append(mu.get_puuid(n))
        except:
            continue
            
    # matchId
    print('get matchId...')
    matchId_lst = []
    for p in tqdm(puuid_lst):
        matchId_lst = matchId_lst+mu.get_matchId(p, 2)
        
    # match, timeline
    print('get match & timeline...')
    tmp = []
    for m_id in tqdm(matchId_lst):
        tmp_lst = []
        tmp_lst.append(m_id)
        matches, timelines = mu.get_matches_timelines(m_id)
        tmp_lst.append(matches)
        tmp_lst.append(timelines)
        tmp.append(tmp_lst)
    
    df = pd.DataFrame(tmp, columns = ['gameId','match','timeline'])
    print('complete!')
    return df

In [4]:
tier = 'GOLD'
raw_data = get_rawData(tier)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  2.67it/s]

get summonerName...
get puuid...

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:05<00:00,  3.95it/s]

get matchId...

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:04<00:00,  4.29it/s]

get match & timeline...

100%|██████████████████████████████████████████████████████████████████████████████████| 40/40 [00:33<00:00,  1.19it/s]

complete!

In [7]:
raw_data.iloc[0].match['info']['gameMode']

'CLASSIC'

In [10]:
def get_match_timeline_df(df):
    print('get matches & timelines...')
    match_lst = []
    timeline_lst = []
    for i in tqdm(range(len(df))):
        if df.iloc[i].match['info']['gameMode'] == 'CLASSIC':
            # matches
            for j in range(10):
                tmp = []
                tmp.append(df.iloc[i].gameId)
                tmp.append(df.iloc[i].match['info']['gameDuration'])
                tmp.append(df.iloc[i].match['info']['gameVersion'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['summonerName'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['summonerLevel'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['participantId'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['championName'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['champExperience'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['teamPosition'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['teamId'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['win'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['kills'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['deaths'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['assists'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['totalDamageDealtToChampions'])
                tmp.append(df.iloc[i].match['info']['participants'][j]['totalDamageTaken'])
                match_lst.append(tmp)
                
            # timelines
            for j in range(1, 11):
                tmp = []
                tmp.append(df.iloc[i].gameId)
                tmp.append(df.iloc[i].timeline['info']['frames'][0]['participantFrames'][str(j)]['participantId'])
                for k in range(5, 26):
                    try:
                        tmp.append(df.iloc[i].timeline['info']['frames'][k]['participantFrames'][str(j)]['totalGold'])
                    except:
                        tmp.append(0)
                timeline_lst.append(tmp)
            
    col = ['gameId','gameDuration','gameVersion','summonerName','summonerLevel','participantId','championName','champExperience',
           'teamPosition','teamId','win','kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken']
    m_df = pd.DataFrame(match_lst, columns=col).drop_duplicates()

    col = ['gameId','participantId','g_5','g_6','g_7','g_8','g_9','g_10','g_11','g_12','g_13','g_14','g_15','g_16','g_17',
           'g_18','g_19','g_20','g_21','g_22','g_23','g_24','g_25']
    t_df = pd.DataFrame(timeline_lst, columns=col).drop_duplicates()
    
    print('match_df length: ',len(m_df))
    print('timeline_df length: ',len(t_df))
    print('complete!')
    return m_df, t_df

In [11]:
match_df, timeline_df = get_match_timeline_df(raw_data)

get matches & timelines...

100%|██████████████████████████████████████████████████████████████████████████████████| 40/40 [00:00<00:00, 53.80it/s]

match_df length:  280
timeline_df length:  280
complete!

In [23]:
match_df

,gameId,gameDuration,gameVersion,gameMode,gameType,summonerName,summonerLevel,participantId,championName,champExperience,teamPosition,teamId,win,kills,deaths,assists,totalDamageDealtToChampions,totalDamageTaken
0,KR_5567648453,1071,11.22.406.3587,CLASSIC,MATCHED_GAME,숭2내따까리,199,1,Camille,8066,TOP,100,False,2,3,0,4084,7598
1,KR_5567648453,1071,11.22.406.3587,CLASSIC,MATCHED_GAME,regretz,175,2,Lillia,3380,JUNGLE,100,False,1,6,1,2773,11522
2,KR_5567648453,1071,11.22.406.3587,CLASSIC,MATCHED_GAME,JSTG,102,3,Illaoi,7754,MIDDLE,100,False,1,4,1,5795,12221
3,KR_5567648453,1071,11.22.406.3587,CLASSIC,MATCHED_GAME,kddddd,241,4,Aphelios,3938,BOTTOM,100,False,0,4,1,4720,5066
4,KR_5567648453,1071,11.22.406.3587,CLASSIC,MATCHED_GAME,개못하느사람,69,5,Morgana,4801,UTILITY,100,False,1,3,0,3307,4305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,KR_5361768903,1546918,11.15.389.2308,CLASSIC,MATCHED_GAME,Xenonic01,39,6,Karma,13180,TOP,200,True,6,4,7,20026,25865
376,KR_5361768903,1546918,11.15.389.2308,CLASSIC,MATCHED_GAME,갱값분석가,31,7,XinZhao,12357,JUNGLE,200,True,8,0,3,9559,23652
377,KR_5361768903,1546918,11.15.389.2308,CLASSIC,MATCHED_GAME,무기력한 송준희,95,8,Fizz,12906,MIDDLE,200,True,5,6,5,23063,19064
378,KR_5361768903,1546918,11.15.389.2308,CLASSIC,MATCHED_GAME,Gen G Ruler fan7,33,9,Vayne,9665,BOTTOM,200,True,2,3,3,6353,13487
379,KR_5361768903,1546918,11.15.389.2308,CLASSIC,MATCHED_GAME,촉촉한돈까스,113,10,Blitzcrank,9299,UTILITY,200,True,1,2,9,6809,14219

In [26]:
match_df['gameMode'].drop_duplicates().values.tolist()

['CLASSIC', 'ARAM']

In [27]:
match_df['gameType'].drop_duplicates().values.tolist()

['MATCHED_GAME']

In [31]:
match_df[match_df.gameMode=='ARAM']

Empty DataFrame
Columns: [gameId, gameDuration, gameVersion, gameMode, summonerName, summonerLevel, participantId, championName, champExperience, teamPosition, teamId, win, kills, deaths, assists, totalDamageDealtToChampions, totalDamageTaken]
Index: []

In [20]:
match_df.head()

,gameId,gameDuration,gameVersion,summonerName,summonerLevel,participantId,championName,champExperience,teamPosition,teamId,win,kills,deaths,assists,totalDamageDealtToChampions,totalDamageTaken
0,KR_5559444980,2290,11.22.406.3587,번쩍 들기,176,1,Rumble,16453,TOP,100,False,1,7,6,21602,24498
1,KR_5559444980,2290,11.22.406.3587,100만 볼트,169,2,Elise,15624,JUNGLE,100,False,6,5,11,16281,34410
2,KR_5559444980,2290,11.22.406.3587,사쿠라 미코치,146,3,Jayce,20301,MIDDLE,100,False,10,7,7,33631,25433
3,KR_5559444980,2290,11.22.406.3587,Poax,120,4,Caitlyn,16712,BOTTOM,100,False,12,7,7,37406,31040
4,KR_5559444980,2290,11.22.406.3587,종윤선생,308,5,Leona,11669,UTILITY,100,False,0,9,9,3845,33615

In [21]:
timeline_df.head()

,gameId,participantId,g_5,g_6,g_7,g_8,g_9,g_10,g_11,g_12,...,g_16,g_17,g_18,g_19,g_20,g_21,g_22,g_23,g_24,g_25
0,KR_5559444980,1,1347,1533,1802,2161,2431,2772,3096,3408,...,4605,4870,5397,5646,6034,6715,6962,7328,7661,7798
1,KR_5559444980,2,1350,1604,1906,2118,2441,2563,2871,3497,...,4937,5169,5517,5814,6160,6527,7129,7558,7680,7833
2,KR_5559444980,3,1957,2328,2555,2935,3326,3966,4290,5206,...,6925,7305,7812,8163,8357,8529,9686,9961,10485,10936
3,KR_5559444980,4,1641,1869,2239,2671,3362,3568,3747,4130,...,5834,6124,6690,7265,7575,8055,8827,9249,10002,10213
4,KR_5559444980,5,1154,1310,1486,1699,2087,2227,2379,2604,...,3473,3613,3904,4054,4274,4466,4731,4901,5063,5278

In [8]:
mu.db_open()

open!

In [5]:
# match table
query1 = """
create table match_data(gameId varchar(50), gameDuration number(20), gameVersion varchar(50), summonerName varchar(50),
summonerLevel number(20), participantId number(20), championName varchar(50), champExperience number(20),
teamPosition varchar(50), teamId number(20), win varchar(50), kills number(20), deaths number(20), assists number(20),
totalDamageDealtToChampions number(20), totalDamageTaken number(20),
constraint m_pk primary key (gameId, participantId))
"""

In [6]:
# timeline table
query2 = """
create table timeline_data(gameId varchar(50), participantId number(20), g_5 number(20), g_6 number(20), g_7 number(20), g_8 number(20),
g_9 number(20), g_10 number(20), g_11 number(20), g_12 number(20), g_13 number(20), g_14 number(20), g_15 number(20), g_16 number(20),
g_17 number(20), g_18 number(20), g_19 number(20), g_20 number(20), g_21 number(20), g_22 number(20), g_23 number(20), g_24 number(20),
g_25 number(20),
constraint t_pk primary key (gameId, participantId))
"""

In [9]:
res = mu.sql_excute(query1)
res

'success!'

In [10]:
res = mu.sql_excute(query2)
res

'success!'

In [28]:
def match_insert(row):
    query = (
        f'insert into match_data(gameId, gameDuration, gameVersion, summonerName, summonerLevel, participantId, championName, champExperience, '
        f'teamPosition, teamId, win, kills, deaths, assists, totalDamageDealtToChampions, totalDamageTaken) '
        f'values(\'{row.gameId}\', {row.gameDuration}, '
        f'\'{row.gameVersion}\', \'{row.summonerName}\', {row.summonerLevel}, {row.participantId}, '
        f'\'{row.championName}\', {row.champExperience}, \'{row.teamPosition}\', {row.teamId}, '
        f'\'{row.win}\', {row.kills}, {row.deaths}, {row.assists}, '
        f'{row.totalDamageDealtToChampions}, {row.totalDamageTaken}) '        
    )
    mu.sql_excute(query)
    return

In [39]:
def match_insert(row):
    query = (
        f'merge into match_data using dual on(gameId=\'{row.gameId}\' and participantId={row.participantId}) '
        f'when not matched then '
        f'insert (gameId, gameDuration, gameVersion, summonerName, summonerLevel, participantId, championName, champExperience, '
        f'teamPosition, teamId, win, kills, deaths, assists, totalDamageDealtToChampions, totalDamageTaken) '
        f'values(\'{row.gameId}\', {row.gameDuration}, '
        f'\'{row.gameVersion}\', \'{row.summonerName}\', {row.summonerLevel}, {row.participantId}, '
        f'\'{row.championName}\', {row.champExperience}, \'{row.teamPosition}\', {row.teamId}, '
        f'\'{row.win}\', {row.kills}, {row.deaths}, {row.assists}, '
        f'{row.totalDamageDealtToChampions}, {row.totalDamageTaken}) '        
    )
    mu.sql_excute(query)
    return

In [41]:
match_df.progress_apply(lambda x: match_insert(x), axis=1)

100%|███████████████████████████████████████████████████████████████████████████████| 380/380 [00:00<00:00, 559.25it/s]

0      None
1      None
2      None
3      None
4      None
       ...
375    None
376    None
377    None
378    None
379    None
Length: 380, dtype: object

In [ ]:
# mysql 경우 ignore
# insert 할때 중복된 값이 있을경우 insert를 안함
# oralce 경우 merge
# insert 할때 중복된 값 체크

In [35]:
def timeline_insert(row):
    query = (
        f'merge into timeline_data using dual on(gameId=\'{row.gameId}\' and participantId={row.participantId}) '
        f'when not matched then '
        f'insert (gameId, participantId, g_5, g_6, g_7, g_8, g_9, g_10, g_11, g_12, g_13, g_14, g_15, g_16, g_17, g_18, g_19, g_20, '
        f'g_21, g_22, g_23, g_24, g_25) values(\'{row.gameId}\', {row.participantId}, '
        f'{row.g_5}, {row.g_6}, {row.g_7}, {row.g_8}, {row.g_9}, {row.g_10}, {row.g_11}, {row.g_12}, {row.g_13}, {row.g_14}, {row.g_15}, '
        f'{row.g_16}, {row.g_17}, {row.g_18}, {row.g_19}, {row.g_20}, {row.g_21}, {row.g_22}, {row.g_23}, {row.g_24}, {row.g_25})'
    )
    mu.sql_excute(query)
    return

In [36]:
timeline_df.progress_apply(lambda x: timeline_insert(x), axis=1)

100%|███████████████████████████████████████████████████████████████████████████████| 380/380 [00:00<00:00, 479.12it/s]

0      None
1      None
2      None
3      None
4      None
       ...
375    None
376    None
377    None
378    None
379    None
Length: 380, dtype: object

In [41]:
res = mu.sql_excute('select * from timeline_data')
res

Empty DataFrame
Columns: [GAMEID, PARTICIPANTID, G_5, G_6, G_7, G_8, G_9, G_10, G_11, G_12, G_13, G_14, G_15, G_16, G_17, G_18, G_19, G_20, G_21, G_22, G_23, G_24, G_25]
Index: []

[0 rows x 23 columns]

In [11]:
mu.db_close()

close!

In [1]:
from random import sample
import random
from tqdm import tqdm
import my_utils as mu
import pandas as pd
import requests
tqdm.pandas()

In [3]:
tier = 'GOLD'
raw_data = mu.get_rawData(tier)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  2.76it/s]

get summonerName...
get puuid...

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:05<00:00,  3.96it/s]

get matchId...

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:05<00:00,  3.90it/s]

get match & timeline...

100%|██████████████████████████████████████████████████████████████████████████████████| 40/40 [00:32<00:00,  1.25it/s]

complete!

In [4]:
match_df, timeline_df = mu.get_match_timeline_df(raw_data)

get matches...

100%|██████████████████████████████████████████████████████████████████████████████████| 40/40 [00:00<00:00, 92.61it/s]

get timelines

100%|██████████████████████████████████████████████████████████████████████████████████| 40/40 [00:00<00:00, 63.26it/s]

match_df length:  400
timeline_df length:  400
complete!

In [5]:
mu.db_open()

open!

In [2]:
def match_insert(row):
    query = (
        f'merge into match_data using dual on(gameId=\'{row.gameId}\' and participantId={row.participantId}) '
        f'when not matched then '
        f'insert (gameId, gameDuration, gameVersion, summonerName, summonerLevel, participantId, championName, champExperience, '
        f'teamPosition, teamId, win, kills, deaths, assists, totalDamageDealtToChampions, totalDamageTaken) '
        f'values(\'{row.gameId}\', {row.gameDuration}, '
        f'\'{row.gameVersion}\', \'{row.summonerName}\', {row.summonerLevel}, {row.participantId}, '
        f'\'{row.championName}\', {row.champExperience}, \'{row.teamPosition}\', {row.teamId}, '
        f'\'{row.win}\', {row.kills}, {row.deaths}, {row.assists}, '
        f'{row.totalDamageDealtToChampions}, {row.totalDamageTaken}) '        
    )
    mu.sql_excute(query)
    return

In [3]:
def timeline_insert(row):
    query = (
        f'merge into timeline_data using dual on(gameId=\'{row.gameId}\' and participantId={row.participantId}) '
        f'when not matched then '
        f'insert (gameId, participantId, g_5, g_6, g_7, g_8, g_9, g_10, g_11, g_12, g_13, g_14, g_15, g_16, g_17, g_18, g_19, g_20, '
        f'g_21, g_22, g_23, g_24, g_25) values(\'{row.gameId}\', {row.participantId}, '
        f'{row.g_5}, {row.g_6}, {row.g_7}, {row.g_8}, {row.g_9}, {row.g_10}, {row.g_11}, {row.g_12}, {row.g_13}, {row.g_14}, {row.g_15}, '
        f'{row.g_16}, {row.g_17}, {row.g_18}, {row.g_19}, {row.g_20}, {row.g_21}, {row.g_22}, {row.g_23}, {row.g_24}, {row.g_25})'
    )
    mu.sql_excute(query)
    return

In [15]:
match_df.progress_apply(lambda x: match_insert(x), axis=1)

100%|███████████████████████████████████████████████████████████████████████████████| 400/400 [00:00<00:00, 543.00it/s]

0      None
1      None
2      None
3      None
4      None
       ...
395    None
396    None
397    None
398    None
399    None
Length: 400, dtype: object

In [16]:
timeline_df.progress_apply(lambda x: timeline_insert(x), axis=1)

100%|███████████████████████████████████████████████████████████████████████████████| 400/400 [00:00<00:00, 478.75it/s]

0      None
1      None
2      None
3      None
4      None
       ...
395    None
396    None
397    None
398    None
399    None
Length: 400, dtype: object

In [17]:
res = mu.sql_excute('select * from match_data')
res

,GAMEID,GAMEDURATION,GAMEVERSION,SUMMONERNAME,SUMMONERLEVEL,PARTICIPANTID,CHAMPIONNAME,CHAMPEXPERIENCE,TEAMPOSITION,TEAMID,WIN,KILLS,DEATHS,ASSISTS,TOTALDAMAGEDEALTTOCHAMPIONS,TOTALDAMAGETAKEN
0,KR_5546419545,1454,11.22.406.3587,애신아씨,198,8,Vex,11832,MIDDLE,200,False,5,5,3,15259,14330
1,KR_5546419545,1454,11.22.406.3587,asdfas,189,9,Vayne,8289,BOTTOM,200,False,3,7,2,9519,17111
2,KR_5546419545,1454,11.22.406.3587,내가무슨죄를졌어,557,10,Yuumi,7151,UTILITY,200,False,2,6,7,9288,10394
3,KR_5369354045,1994882,11.15.389.2308,호이가계속되면그게둘린줄알아요,58,1,Irelia,21374,TOP,100,True,13,7,0,32716,43435
4,KR_5369354045,1994882,11.15.389.2308,하지마이쉑이야,151,2,XinZhao,15592,JUNGLE,100,True,2,7,6,8093,32736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,KR_5387760958,1317659,11.16.390.1945,김 큰,191,6,Nasus,21290,None,200,True,17,10,12,28128,31542
776,KR_5387760958,1317659,11.16.390.1945,진짜가자,134,7,Jayce,21377,None,200,True,9,4,19,19607,12064
777,KR_5387760958,1317659,11.16.390.1945,P 파,266,8,Shaco,19419,None,200,True,2,12,23,17714,21570
778,KR_5387760958,1317659,11.16.390.1945,등고선,255,9,Ziggs,22289,None,200,True,13,4,18,24128,14231
779,KR_5387760958,1317659,11.16.390.1945,찬파게티,230,10,Heimerdinger,22884,None,200,True,6,7,25,28093,18570

In [18]:
res = mu.sql_excute('select * from timeline_data')
res

,GAMEID,PARTICIPANTID,G_5,G_6,G_7,G_8,G_9,G_10,G_11,G_12,...,G_16,G_17,G_18,G_19,G_20,G_21,G_22,G_23,G_24,G_25
0,KR_5546419545,8,1901,2222,2473,2839,3181,3390,3798,5160,...,6878,7734,8052,8363,8836,9163,9380,9836,9959,9987
1,KR_5546419545,9,1455,1690,2004,2314,2647,2846,3053,3429,...,4514,5316,5544,6391,7218,7564,8002,8125,8292,8321
2,KR_5546419545,10,1528,1726,1960,2454,2652,2812,2993,3546,...,4291,4706,4847,5172,5462,5653,5907,6048,6188,6221
3,KR_5369354045,1,1627,2218,2929,3630,3837,4113,4681,5070,...,6438,7039,7671,7948,8553,9343,10108,10280,10805,12594
4,KR_5369354045,2,1365,1707,1924,2275,2498,2883,3154,3454,...,4560,4906,5304,5562,5960,6098,6875,7813,8036,8208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,KR_5387760958,6,3865,4323,5402,6124,6578,7341,7838,8331,...,11575,11958,12490,13440,14477,14837,15927,0,0,0
776,KR_5387760958,7,3594,4092,4518,4896,5384,6641,7079,7495,...,10239,10872,11440,12330,12690,13080,13949,0,0,0
777,KR_5387760958,8,3418,3808,4297,4831,5242,5705,6215,6575,...,8847,9300,9798,10274,10703,11129,12081,0,0,0
778,KR_5387760958,9,3712,4304,4860,5557,6272,6758,7704,8091,...,11744,12251,13080,13625,13985,14881,16017,0,0,0
779,KR_5387760958,10,4073,4621,5320,5938,6328,6786,7517,7967,...,10910,11413,11846,12337,12940,13482,14220,0,0,0

In [6]:
mu.db_close()

close!

In [2]:
import time

In [12]:
for i in range(5):
    # api 사용하여 raw data 수집
    tier = 'GOLD'
    raw_data = mu.get_rawData(tier)

    # raw data 사용하여 match, timeline dataframe 생성
    match_df, timeline_df = mu.get_match_timeline_df(raw_data)

    # match, timeline dataframe db insert
    mu.db_open()
    match_df.progress_apply(lambda x: match_insert(x), axis=1)
    timeline_df.progress_apply(lambda x: timeline_insert(x), axis=1)
    mu.db_close()
    time.sleep(100)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  3.25it/s]

get summonerName...
get puuid...

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:05<00:00,  3.99it/s]

get matchId...

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:05<00:00,  4.00it/s]

get match & timeline...

100%|██████████████████████████████████████████████████████████████████████████████████| 40/40 [00:35<00:00,  1.14it/s]

complete!
get matches & timelines...

100%|██████████████████████████████████████████████████████████████████████████████████| 40/40 [00:00<00:00, 42.12it/s]

match_df length:  360
timeline_df length:  360
complete!
open!

100%|███████████████████████████████████████████████████████████████████████████████| 360/360 [00:00<00:00, 514.55it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 360/360 [00:00<00:00, 443.71it/s]

close!

NameError: name 'time' is not defined

In [14]:
mu.db_open()
df = mu.sql_excute('select * from match_data')
mu.db_close()
df

open!
Execution failed on sql 'select * from match_data': ORA-00942: 테이블 또는 뷰가 존재하지 않습니다
close!